In [46]:
import numpy as np
import pandas as pd
import re
import os

# combine all data and clean

In [2]:
df_moviegenre = pd.read_csv('../movie-genre-from-its-poster/MovieGenre.csv', encoding='latin1')

df_movies = pd.read_csv('../the-movies-dataset/movies_metadata.csv', encoding='latin1')
df_credits = pd.read_csv('../the-movies-dataset/credits.csv', encoding='latin1')
df_keywords = pd.read_csv('../the-movies-dataset/keywords.csv', encoding='latin1')

/home/grigor/anaconda3/envs/dataViz/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3062: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [3]:
# take only English movies and relaesed after 1980 
df_movies = df_movies[df_movies['original_language'] == 'en']
df_movies = df_movies.astype({'original_language': str, 'release_date': np.datetime64,
                             'id': np.int64})
df_movies = df_movies[df_movies['release_date'] >= '1980-01-01']

In [4]:
df_credits.duplicated(['id']).sum()

44

In [5]:
df_credits = df_credits.drop_duplicates(subset=['id'])
df_keywords = df_keywords.drop_duplicates(subset=['id'])
df_moviegenre = df_moviegenre.drop_duplicates(subset = 'imdb_id')

df_moviegenre.rename({'imdbId': 'imdb_id'}, axis='columns', inplace = True)

In [6]:
df = df_movies.merge(df_credits, how='inner', on='id')

In [7]:
df = df.merge(df_keywords, on='id')

In [8]:
df = df.astype({'imdb_id': str})

In [9]:
df['imdb_id'] = df['imdb_id'].apply(lambda s: re.sub('[a-zA-Z]+', '', s))

In [10]:
df = df[df['imdb_id'] != ''].astype({'imdb_id': np.int64})

In [15]:
df = df.merge(df_moviegenre, on='imdb_id')

In [24]:
df = df.drop_duplicates(subset = 'imdb_id')

In [25]:
df.to_csv('../movies.csv')

## end combining

In [45]:
df[df['imdb_id'] == 114709]

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,vote_average,vote_count,cast,crew,keywords,Imdb Link,Title,IMDB Score,Genre,Poster
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,7.7,5415.0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...","[{'id': 931, 'name': 'jealousy'}, {'id': 4290,...",http://www.imdb.com/title/tt114709,Toy Story (1995),8.3,Animation|Adventure|Comedy,https://images-na.ssl-images-amazon.com/images...

In [59]:
imdb_ids = os.listdir('../movie-genre-from-its-poster/SampleMoviePosters/SampleMoviePosters/')

In [60]:
ids = [re.sub('.[a-zA-Z]+', '', s) for s in imdb_ids]

In [63]:
len(ids)

997

In [66]:
df

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,vote_average,vote_count,cast,crew,keywords,Imdb Link,Title,IMDB Score,Genre,Poster
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,7.7,5415.0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...","[{'id': 931, 'name': 'jealousy'}, {'id': 4290,...",http://www.imdb.com/title/tt114709,Toy Story (1995),8.3,Animation|Adventure|Comedy,https://images-na.ssl-images-amazon.com/images...
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,6.9,2413.0,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...","[{'id': 10090, 'name': 'board game'}, {'id': 1...",http://www.imdb.com/title/tt113497,Jumanji (1995),6.9,Action|Adventure|Family,https://images-na.ssl-images-amazon.com/images...
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,6.5,92.0,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...","[{'id': 1495, 'name': 'fishing'}, {'id': 12392...",http://www.imdb.com/title/tt113228,Grumpier Old Men (1995),6.6,Comedy|Romance,https://images-na.ssl-images-amazon.com/images...
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,6.1,34.0,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...","[{'id': 818, 'name': 'based on novel'}, {'id':...",http://www.imdb.com/title/tt114885,Waiting to Exhale (1995),5.7,Comedy|Drama|Romance,https://images-na.ssl-images-amazon.com/images...
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,5.7,173.0,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...","[{'id': 1009, 'name': 'baby'}, {'id': 1599, 'n...",http://www.imdb.com/title/tt113041,Father of the Bride Part II (1995),5.9,Comedy|Family|Romance,https://images-na.ssl-images-amazon.com/images...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20689,False,NaN,0,"[{'id': 14, 'name': 'Fantasy'}, {'id': 18, 'na...",NaN,68482,83168,en,Tanya's Island,Tanya is a female model who lives with her boy...,...,6.0,3.0,"[{'cast_id': 1, 'character': 'Tanya (as D.D. W...","[{'credit_id': '55bf72709251413e58006a78', 'de...","[{'id': 966, 'name': 'beach'}, {'id': 2041, 'n...",http://www.imdb.com/title/tt83168,Tanya's Island (1980),4.3,Drama,https://images-na.ssl-images-amazon.com/images...
20690,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}]",NaN,55996,82875,en,Pacific Banana,The story of a pair of Australian pilots worki...,...,4.8,3.0,"[{'cast_id': 1, 'character': 'Martin', 'credit...","[{'credit_id': '52fe48e9c3a36847f8180125', 'de...","[{'id': 572, 'name': 'sex'}, {'id': 966, 'name...",http://www.imdb.com/title/tt82875,Pacific Banana (1981),4.7,Comedy,https://images-na.ssl-images-amazon.com/images...
20691,False,NaN,0,[],NaN,29638,815258,en,Werewolf in a Women's Prison,No overview found.,...,4.0,5.0,"[{'cast_id': 6, 'character': 'Sarah Ragdale', ...","[{'credit_id': '52fe45efc3a368484e077595', 'de...",[],http://www.imdb.com/title/tt815258,Werewolf in a Womens Prison (2006),4.5,Horror,https://images-na.ssl-images-amazon.com/images...
20692,False,NaN,125000000,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",http://www.hbo.com/band-of-brothers,331214,185906,en,Band of Brothers,Drawn from interviews with survivors of Easy C...,...,8.2,725.0,"[{'cast_id': 1, 'character': 'Lt. Richard D. W...","[{'credit_id': '56731cd9c3a368070c002fbd', 'de...","[{'id': 1956, 'name': 'world war ii'}, {'id': ...",http://www.imdb.com/title/tt185906,Band of Brothers,9.5,Action|Drama|History,https://images-na.ssl-images-amazon.com/images...
20693,False,NaN,0,[],NaN,353921,238304,en,Inside Out 3,Playboy does to softcore sex films what HBO's ...,...,0.0,0.0,"[{'cast_id': 10, 'character': 'Actor (segment ...","[{'credit_id': '55c8cff7c3a3686b5f000b3d', 'de...",[],http://www.imdb.com/title/tt238304,Inside Out III (1992),4.9,Comedy|Drama|Romance,https://images-na.ssl-images-amazon.com/images...